[submodule "DevicesInfrastructures"]
	path = DevicesInfrastructures
	url = https://github.com/IRPSystems/DevicesInfrastructures.git
[submodule "Infrastructure"]
	path = Infrastructure
	url = https://github.com/IRPSystems/Infrastructure.git
[submodule "ScriptsInfrastructure"]
	path = ScriptsInfrastructure
	url = https://github.com/IRPSystems/ScriptsInfrastructure.git
[submodule "FlashingToollib"]
	path = FlashingToollib
	url = https://github.com/IRPSystems/FlashingToollib.git
